body{
  font-size:40px;
}
p{
	font-size:20px;
	margin:0;
	width:30%;

}
.dot{
	padding-top: 12px;
	cursor: pointer;
}

.sort{
	width:22px;
	text-align:center;
	vertical-align: middle;
  	position:absolute;
  	height:190px; 
   	z-index: 0;
}

#middle{
  left:355px;
  top:93px;
}
#left{
  top:93px;
  left:291px;
}
#right{
	top:93px;
	left:418px;
}
.bottom{
	top:0%;
	display:block;
	position:fixed;
	width:100%;
	height:30px;
	margin:0;
	text-align: center;
	font-family:"helvetica";
	font-weight: bold;
	vertical-align: middle;
}
#indicate{
	top: 0;
	margin-left:220px;
}
#choosecolor1{
	position: absolute;
	margin:0;
	height: 120px;
	width: 50px;
	bottom:0;
	margin-bottom: 35px;
	left: 13.5%;
	padding: 5px;
	background-color: #CCCCCC;
	border-radius:8px;
	display: none;
}
#choosecolor2{
	position: absolute;
	margin:0;
	height: 120px;
	width: 50px;
	bottom:0;
	margin-bottom: 35px;
	left: 500px;
	padding: 5px;
	background-color: #CCCCCC;
	border-radius:8px;
	display: none;
}
.Black{
	width: auto;
	position:relative;
	height:	15px;
	background-color: black;
}
.Green{
	width: auto;

	background-color: green;
	height: 15px;
	top:15px;
}
.Blue{
	width: auto;
	background-color: blue;
	height:15px;
	top:30px;
}
.Purple{
	width: auto;
	background-color: purple;
	height:15px;
	top:45px;
}
.Cyan{
	width:auto;
	background-color: cyan;
	height:15px;
	top:60px;
}
.Chartreuse{
	width: auto;
	background-color: chartreuse;
	height: 15px;
	top:75px;
}
#p_1{
	position: absolute;
	margin:0;
	bottom: 0;
	width: 50%;
	text-align: center;
	margin-bottom: 10px;
}
#color1{
	position: absolute;
	margin: 0;
	bottom: 0;
	left:14%;
	height:5%;
	width:5%;
	background-color: green;
	border: 1px solid black;
	margin-bottom: 10px;
}
#p_2{
	position: absolute;
	margin:0;
	bottom: 0;
	width: 50%;
	text-align: center;
	margin-bottom: 10px;
	right: 0;
}
#color2{
	position: absolute;
	margin: 0;
	bottom: 0;
	left:63%;
	height:5%;
	width:5%;
	background-color: #000000;
	border: 1px solid black;
	margin-bottom: 10px;
}

.vert{
	font-size:41px;
	height: 17px;
	width: 9px;
	position: absolute;
	text-align: center;
	vertical-align: text-top;
	z-index: 2;
	display: none;
}

#a1-b1{
	top:135px;
  	left:297px;
}
#b1-c1{
	top:193px;
  	left:297px;
}
#a2-b2{
	top:135px;
  	left:361px;
}
#b2-c2{
	top:193px;
  	left:361px;
}
#a3-b3{
	top:135px;
  	left:424px;
}
#b3-c3{
	top:193px;
  	left:424px;
}

.horz{
	font-size:37px;
	font-weight: bold;
	width: 14px;
	height: 10px;
	position: absolute;
	text-align: center;
	vertical-align: middle;
	z-index: 2;
	display: none;
}

#a1-a2{
	top:91px;
	left:315px;
}
#a2-a3{
	top:91px;
	left:378px;
}
#b1-b2{
	top:148px;
	left:315px;
}
#b2-b3{
	top:148px;
	left:378px;
}
#c1-c2{
	top:206px;
	left:315px;
}
#c2-c3{
	top:206px;
	left:378px;
}
#cell1{
	font-size:20px;
	position: absolute;
	height:	5%;
	width: 3%;
	text-align: center;
	vertical-align: middle;
	padding-top: 3px;
	top:20.5%;
	left:43%;
	z-index: 2;
	display:none;
}
#cell2{
	font-size:20px;
	position: absolute;
	height:	5%;
	width: 3%;
	text-align: center;
	vertical-align: middle;
	padding-top: 3px;
	top:20.5%;
	left:48.2%;
	z-index: 2;
	display: none;
}
#cell3{
	font-size:20px;
	position: absolute;
	height:	5%;
	width: 3%;
	text-align: center;
	vertical-align: middle;
	padding-top: 3px;
	top:32%;
	left:43%;
	z-index: 2;
	display: none;
}
#cell4{
	font-size:20px;
	position: absolute;
	height:	5%;
	width: 3%;
	text-align: center;
	vertical-align: middle;
	padding-top: 3px;
	top:32%;
	left:48.2%;
	z-index: 2;
	display: none;
}